body {
  background-color: #fdfdfd;
  color: #2f2f2f;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px !important;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  margin-top: 20px;
  width: 100%;
}

nav a {
  color: #2f2f2f;
}

nav a:hover {
  text-decoration: none;
  color: #ffc0cb;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  font-family: 'Montserrat';
  font-size: 18px;
  padding: 10px;
  margin: 10px;
}

.about-container p,
.project-text p,
.project-text h3 {
  margin: 0 35px 20px;
}

.about-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  max-width: 300px;
  margin-bottom: 50px;
}

.about-container h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.about-container p {
  font-size: 18px;
  max-width: 600px;
  margin-bottom: 40px;
  text-align: center;
}

.skills-section {
  background-color: #f0f0ee;
  width: 100%;
  display: flex;
  justify-content: center;
}

.skills-container {
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 600px;
}

.skills-container ul {
  font-family: 'Montserrat';
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.skills-container li {
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  background-color: #ffc0cb;
}

.projects-container {
  width: 100%;
  text-align: center;
  padding: 0;
}

.projects-container h2 {
  margin: 30px 0;
}

.projects-container img {
  max-width: 400px;
  height: auto;
}

.project a {
  color: #ff8da1;
}

.project a:hover {
  color: #6c757d;
}

.project-img,
.project-text {
  margin: 20px 0;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.links {
  margin: 40px 0;
  text-align: center;
}

.links img {
  margin: 20px 0;
}

.links-container {
  text-align: center;
}

.links-container img {
  width: 50px;
}

footer {
  background-color: #f0f0ee;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

footer p {
  font-size: 13px;
  margin: 15px 0;
}

.scroll-to-top {
  margin: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 70px;
  z-index: 100;
  display: none;
  color: #fff;
  background-color: #ffc0cb;
  border-radius: 5px;
}

.scroll-to-top:hover {
  background-color: #ff8da1;
  color: #fff;
}

.scroll-to-top i:hover {
  color: #fff;
}

.scroll-to-top i {
  font-size: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 450px) {
  nav li {
    padding: 10px 5px;
    margin: 10px 5px;
  }

  .project-img img {
    width: 95%;
  }

  .skills-container h2 {
    margin-top: 30px;
  }

  .skills-container ul {
    margin-bottom: 30px;
  }

  .scroll-to-top {
    margin: 10px;
    width: 60px;
    height: 60px;
  }

  .scroll-to-top:hover {
    background-color: #ffc0cb;
    color: #fff;
  }

  .scroll-to-top i {
    font-size: 40px;
  }
